<center>
	<div class="container text-center">
		<span><a href="/">Home</a></span><br>
		{% if request.user == u %}
		<div style="text-transform: capitalize;font-size: 20px">{{ user.username }}</div>

			<h1>Friends</h1>
			
			{% for friend in friends_list %}
			<a href="http://127.0.0.1:8000/accounts/{{ friend.user.id }}/profile/">{{ friend.user.username }}</a><small><a class='btn btn-warning' href="/chat/remove-friend/{{ friend.user.id }}/">Remove friend</a></small>
			{% endfor %}
			<hr>
			<h2>Sent Friend requests</h2>
			<ul>
			{% for s_request in sent_friend_requests %}
				<li>{{ s_request.to_user.username }}</li>
			{% endfor %}
			</ul>
			<hr>
			<h2>Received Friend requests</h2>
			
			{% for r_request in rec_friend_requests %}
				<p><a href="http://127.0.0.1:8000/accounts/{{ r_request.from_user.pk }}/profile/">{{ r_request.from_user.username }}</a></p>
				<small><a class='btn btn-primary' href="/chat/friend-request/accept/{{ r_request.from_user.id }}">Accept</a></small>
				<small><a class='btn btn-warning' href="/chat/friend-request/delete/{{ r_request.from_user.id }}">Ignore</a></small>
			{% endfor %}

		{% else %}
			
			{% if button_status == 'not_friend' %}<br>
				<small><a class='btn btn-primary' href="/chat/friend-request/send/{{ u.id }}">Send Friend Request</a></small>
			{% elif button_status == 'friend_request_sent' %}
				<small><a class="btn btn-warning" href="/chat/friend-request/cancel/{{ u.id }}">Cancel Request</a></small>
			{% endif %}
		{% endif %}

	</div>
</center>