{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="//static/faviscon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>
        function back()
         {
            var value = document.getElementById("participants1").value;
            document.getElementById("participants1").value = value.substr(0, value.length - 1);
         }
    function display(val)
     {
        if (document.getElementById("id_participants").value.indexOf(val) == -1){
         document.getElementById("id_participants").value+=(","+val)
        } else {
          document.getElementById("id_participants").value=document.getElementById("id_participants").value
        }
     }
         function add_part(val)
     {
        if (document.getElementById("participants1").value.indexOf(val) == -1){
         document.getElementById("participants1").value+=(val+",")
        } else {
          document.getElementById("participants1").value=document.getElementById("participants1").value
        }
     }
    $(document).ready(function(){
      $("#togglebtn").click(function(){
        $("form").toggle();
      });
    });
  </script>
  </head>


<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="https://clipartart.com/images/default-profile-picture-clipart-3.jpg" class="online" alt="" />
          <p style="text-transform: capitalize;font-size: 18px">{{ user.username }}</p>
          <a href="/accounts/logout/" style="font-size: 14px;color:white;float:right;">Logout</a>
          <div id="status-options">
          </div>
          <div id="expanded">
          </div>
        </div>
      </div>
      <div id="search">
        <center>
        <button id="togglebtn" style="border: none;text-align: center;font-size: 16px;width:95%;height:30px;border-radius: 6px;">New Message</button>
            <form style="display:none" action='/chat/create_chat_view/' method='POST'> 
            {% csrf_token %}
            <input readonly onfocus="this.blur" name="participants" style="text-transform: capitalize;" maxlength="200" required id="id_participants" value="{{ user.username }}"><br>
            {% for friend in friends %}
            <dev class="btn" value="{{ user }}" onclick="display('{{ friend }}')" style="text-transform: capitalize;">{{ friend }}</dev><br>
            {% endfor %}
            <button style="border: none;text-align: center;font-size: 16px;width:50%;height:30px;border-radius: 6px;">Chat</button>
            </form>
      </center>
      </div>
      <div id="contacts">
        <h3>Friends</h3>
        {% for friend in friends %}
        <li class="contact">
            <div class="wrap">
              <!-- <span class="contact-status online"></span> -->
              <a href="/accounts/{{ friend.user.id }}/profile/"><div class="meta">
               <p class="name" style="text-transform: capitalize;font-size: 18px">{{ friend }}</p>
                <p class="preview"></p>
              </a>
              </div>
          </li>
        {% endfor %}
        <ul>
          <h3>Chats</h3>
          {% for name, id, stat in chats %} 
          <li class="contact">
            <div class="wrap">
              {% if stat == True %}
              <span class="contact-status online"></span>
              {% endif %}
              <img src="https://clipartart.com/images/default-profile-picture-clipart-3.jpg" alt="" />
              <a href="/{{ id }}/"><div class="meta">
               <p class="name" style="text-transform: capitalize;font-size: 18px">{{ name }}</p>
                <p class="preview"></p>
              </a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="bottom-bar">
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
         <a style="font-size: 20px" href="/accounts/{{ user.pk }}/profile/">My profile</a>
        <div class="social-media">
                                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                          Add participants
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document" style="position:absolute;">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add participants</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action="/chat/update">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value={{ chatId }}>
                                    <input readonly type="text" id="participants1" name="participants" style="width: 100%;height:20px;text-transform: capitalize"><br>
                                    {% for friend in friends %}
                                    <div class="btn" style="text-transform: capitalize;" onclick="add_part('{{ friend }}')" style="text-transform: capitalize;">{{ friend }}</div>
                                    {% endfor %}
                                    <div class="modal-footer">
                                    <br><button class="btn btn-primary" onclick="back()">Add</button>
                                </form>
                               </div>
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      </div>
      <div class="messages">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
<script>
    var username = {{ username }};
    var chatId = {{ chatId }}
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + chatId + '/');

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
            'chatId': chatId
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages', "username": username , 'chatId': chatId}));
    }

    function createMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      pTag.textContent = data.content;
      imgTag.src = 'https://clipartart.com/images/default-profile-picture-clipart-3.jpg';
      
      if (author === username) {
        msgListTag.className = 'replies';
      } else {
        msgListTag.className = 'sent';
      }
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }
</script>
</body>
</html>